body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 1rem;
  font-weight: bold;
  line-height: auto;
  margin: 3px;
  padding: 3px;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.red {
  background-color: red;
}

.green {
  background-color: greenyellow;
}

.selected {
  background-color: grey;
}

.container {
  border: 2px solid brown;
  height: 9rem;
  text-align: center;
}
